.button-all {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  border: 0px;
}

.button-all:hover {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-all:focus {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-webs {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
}

.button-webs:hover {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-webs:focus {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-app {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: black;
}

.button-app:hover {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-app:focus {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-disig {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: black;
}

.button-disig:hover {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-disig:focus {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-mark {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  border: 0px;
  text-align: center;
  letter-spacing: 0.03em;

  color: black;
}

.button-mark:hover {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-mark:focus {
  background: #2196f3;
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.technokryak {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.poster {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.seafood {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.headphones {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.boxes {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.appletop {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.book {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.tag {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.laptop {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.h3-pics {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 24px;
  bottom: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.p-pics {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 24px;
  bottom: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podval-portfolio {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}
