@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@400;500&display=swap");

h3 {
  white-space: nowrap;
}

h2 {
  white-space: nowrap;
}

a {
  white-space: nowrap;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

#tel1 {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  color: #757575;
}

#email1 {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  color: black;
}

#email1:hover {
  color: blue;
}

.colorstudio-top {
  color: black;
}
.menutxt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.studio:hover {
  color: blue;
}

.portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

#contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.webstudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

#line {
  position: absolute;
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;

  border: 1px solid #ececec;
}

li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#bg {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

#texthello {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 380px;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-txt {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 32px;
  top: -10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.firstsection {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background-color: #2f303a;
}

.feature {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.one {
  position: absolute;
  width: 270px;
  height: 16.48px;
  left: 215px;
  top: 771px;
}

.two {
  position: absolute;
  width: 270px;
  height: 16.48px;
  left: 515px;
  top: 771px;
}

.three {
  position: absolute;
  width: 270px;
  height: 16.48px;
  left: 815px;
  top: 771px;
}

.four {
  position: absolute;
  width: 270px;
  height: 16.48px;
  left: 1115px;
  top: 771px;
}

.content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.f1 {
  position: absolute;
  width: 270px;
  height: 77.23px;
  left: 215px;
  top: 797.77px;
}

.f2 {
  position: absolute;
  width: 270px;
  height: 77.23px;
  left: 515px;
  top: 797.77px;
}

.f3 {
  position: absolute;
  width: 270px;
  height: 77.23px;
  left: 815px;
  top: 797.77px;
}

.f4 {
  position: absolute;
  width: 270px;
  height: 77.23px;
  left: 1115px;
  top: 797.77px;
}

.whatarewedo-sec {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 0px;
  top: 0px;
}

#whatarewedo {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

#pic1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1111px;
}

#pic2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1111px;
}

#pic3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1111px;
}

#ourteam {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 668px;
  top: 94px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

#sectionourteam {
  position: absolute;
  width: 1600px;
  height: 928px;
  left: 0px;
  top: 1543px;

  background: #f5f4fa;
}

#test {
  /* card bg */

  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.igor {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 236px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.igor-dem {
  position: absolute;
  width: 151px;
  height: 19px;
  left: 60px;
  top: 260px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.igor-pd {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 70px;
  top: 300px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.olga {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 236px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.olga-rep {
  position: absolute;
  width: 151px;
  height: 19px;
  left: 60px;
  top: 260px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.olga-fd {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 70px;
  top: 300px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.kolya {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 236px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.kolya-tar {
  position: absolute;
  width: 151px;
  height: 19px;
  left: 60px;
  top: 260px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.kolya-mar {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 70px;
  top: 300px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.michael {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 236px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.michael-erm {
  position: absolute;
  width: 151px;
  height: 19px;
  left: 60px;
  top: 260px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.michael-uid {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 70px;
  top: 300px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.podval {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2241px;
}

.lowwebstudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.webstudio-low {
  color: white;
}

.addr-prop {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 111px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.mail-prop {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 150px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.tel-prop {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 180px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
